In [1]:
Text = "I am learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [3]:
text=["i love NLP and i will learn NLP in 2month"]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [5]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}
[[1 1 1 1 1 2 1]]

In [6]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [7]:
CountVectorizer?

In [8]:
df = pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out() )
df

   2month  and  in  learn  love  nlp  will
0       1    1   1      1     1    2     1

In [9]:
!pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\duggi\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\duggi\anaconda3\lib\site-packages (from TextBlob) (3.9.1)
Requirement already satisfied: click in c:\users\duggi\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (8.0.4)
Requirement already satisfied: joblib in c:\users\duggi\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\duggi\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\duggi\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (4.65.0)
Requirement already satisfied: colorama in c:\users\duggi\anaconda3\lib\site-packages (from click->nltk>=3.9->TextBlob) (0.4.6)

In [10]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\duggi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.
[nltk_data] Error with downloaded zip file

False

In [ ]:
text = "I am learning NLP"

In [ ]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

In [ ]:
TextBlob(text).ngrams(2)

In [ ]:
TextBlob(text).ngrams(3)

In [ ]:
TextBlob(text).ngrams(4)

In [ ]:
Text = ["The quick brown fox jumped over the lazy dog.", "The dog.", "The fox"]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(Text)

print(vectorizer.vocabulary_)
print(vectorizer.idf_)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(Text)